<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tag is belong to marko
<include('../layout/template/index.marko', data)>
<@title>blog-display</@title>
<@content>
  <div class="container">
    <div class="row">
      <p>testing</p>

    <!-- <get-blog/> -->

      ${input.blog[0]} 
    </div>
  </div>

</@content>
</include>
