<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tag is belong to marko
<include('../layout/template/index.marko', data)>
<@title>blog-display</@title>
<@content>
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-sm">  </div>
      <div id="blogContentDiv" class="col-md-8">
        <input type="text" name="blog_content" value="${input.blog[0]}">
      </div>
    </div>
  </div>
</@content>
</include>
