/****** Portfolio *************/
.portfolio-box{
  border:1px solid gray;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  margin: 2.5px;
  margin-bottom: 15px;
  padding-left: 10px;
  height: 300px;
  position: relative;
}
.portfolio-box h3{
  text-align: center;
  padding-bottom: 5px;
}
.btnPortfolio{
  position: absolute;
  bottom: 10%;
}
