<div>
  <h5>Include html code inside of another html</h5>
  <p>use xmp tag</p>
  <p id="test1">This is a paragraph.</p>
  <p id="test2">This is another paragraph.</p>
  <p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>
  <button id="btn1">Set Text</button>
  <button id="btn2">Set HTML</button>
  <button id="btn3">Set Value</button>
</div>
