<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tag is belong to marko
<include('../layout/template/index.marko', data)>
<@title>Resume</@title>
  <@content>
    <div class="container" style="border:1px solid red">
      <p>will come back to this</p>
    </div>

  </@content>
</include>
