/*body{
  background-color: #ECE6E6;
}*/
#containerId{
  background-color: #ECE6E6;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border:1px solid gray;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}


.divClas{
  //border:1px solid white;
  min-height:10px;
  margin-bottom: 10px;
  padding-bottom:10px;
  overflow: auto;
}
.alignLeft{
  float: left;
}
.alignRight{
  float:right;
}
.italicFont{
  font-style:italic;
}
.clearAlign{
  clear:both;
}
p{
  margin-top: -5px;
  margin-bottom:0px;
  text-indent: 0px;
}
h3{
  margin-bottom: -5px;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
#resumePDF{
  text-align: center;
  padding-top:20px;

}
