<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tag is belong to marko
<include('../layout/template/index.marko', data)>
<@title>Tracker</@title>
  <@content>
    <div class="container">
      <p>Will work on this soon</p>
    </div>

  </@content>
</include>
