.proj-rows{
  margin-top:10px;
}
.proj-left-divs{
  //border: 1px solid red;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}

#activity-note{
  border:1px solid #D9D2D2;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top:10px;
}
#noteLabel{
  font-style:italic;
  color:gray;
}
