
#content {
	display: block;
  margin: 1px;
	border:1px solid red;
}
/* body{
	background: #EBE8E1;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	position:relative;
	padding-top: 100px; //this to keep the first div to not go under nav
} */

body {
	background: #EBE8E1;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* p {
	text-indent: 50px;
} */
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}

/* a,
a:hover,
a:focus,
a:active,
a.active {
  color: #FFA500;//#2C3E50;
} */

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #FFA500;
}


/* h1,
h2,
h3,
h4,
h5,
h6{
  //font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //text-transform: uppercase;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 700;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}


.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}


.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}

.btn-gphan{
	background-color:#2C3E50;
	color:white;
	border-radius: 5px;
	//border: 1px solid #EBE8E1;
	padding: 10px 25px;
	-webkit-transition-duration: 0.4s; /* speed on Safari */
  transition-duration: 0.4s; /* speed on others */
}
.btn-gphan:hover {
    background-color: grey; /*  */
    color: #2C3E50;
}

.btn-sm2 {
	width: 100%;
}

.reader-box{
	background:white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  box-shadow: 0 5px 11px 2px rgba(0,9,30,0.20);

}

.center-gphan{
	text-align: center;
}
.left-gphan{
	text-align: left;
}
.right-gphan{
	text-align: right;
}
.testCSS{
	border:0.2px solid red;
}
.tab {
	margin-left: 2.5em
}
textarea{
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  //font-size:14px;
  margin:5px auto;
  display:block;
  //border-radius:10px;
  //border:6px solid #556677;
}
.top-padding-right-after-nav{
	padding-top: 100px;
}
