<lasso-page package-path="./browser.json"/>
//the <include/> and <@tag> tag is belong to marko
<include('../layout/template/index.marko', data)>
<@title>Home</@title>
<@content>

  <slash-header/>

  <section id="portfolio">
  	<slash-portfolio/>
  </section>

  <section id="about" class="success">
    <slash-about/>
  </section>

	<section id="contact">
		<slash-contact/>
	</section>


</@content>
</include>
